.nav-list{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-list li{
    list-style-type: none;
    margin: 0 30px;
    margin-left: 50px;
}
.nav-list li a{
    text-decoration: none;
    color: rgb(170, 40, 40);
}
.heading-tab{
    background-color:#d19c97 ;
}
